@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,200;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,200;1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: burlywood;
}

/* DEBUT HEADER */

header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    /* position: fixed; */
    z-index: 1;
    background-color: rgba(175, 143, 102, 0.694);
    box-shadow: 9px 7px 20px 1px black;
}

.logo-district {
    width: 100px;
    margin-right: 50px;
}

.nav-menu {
    display: flex;
    list-style: none;
}
.li-menu .lien-menu {
    text-decoration: none;
    display: inline;
    margin: 10px;
    color: white;
    font-size: 17px;
} 

#nav-bar  {
    display: flex;
    justify-content: space-between ;
    /* align-items: center; */
}

.nav-menu  {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    gap: 60px;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: white;
}

/* FIN HEADER */

/* PARALLAX */
.parallax {
    position: relative;
    display: flex;
    background-image: url(/assets/img/branding/bg-parallax.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 350px;
    width: 100%;
    box-shadow: inset 0px 0px 20px 0px black;
}

#searchBar {
    position: absolute;
    top: 45%;
    width: 33%;
    right: 35%;
    background-color: rgba(255, 254, 254, 0.661);
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 5px;
    text-align: center;
    flex-shrink: 0;
    border-radius: 5px;
}
/* FIN PARALLAX */

.img-responsive {
    display: none;
}

/* PARTIE BODY  */
/* DIV PRESENTATION */
.div-presentation {
    padding: 50px;
    background-color: rgba(175, 143, 102, 0.694);
    margin: 50px;
}

.titre-presentation {
    font-size: 3.2em;
    font-family: 'Dancing Script', cursive;
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.text-presentation {
    color: white;
    font-size: 1.5em;
}

.span-txt {
    font-weight: 700;
    text-decoration: underline;
}

.div-text {
    padding: 50px;
    margin: 50px;
    background-color: rgba(175, 143, 102, 0.694);
}

.text {
    color: white;
}

.div-text > .text > .span-txt {
    font-size: 1.5em;
    color: white;
}

#slide { 
    width: 100%;
    transition:0.3s ease-in-out;

}
#slide:hover { 
    overflow: hidden;
    transform: scale(1.012);
}

#slider {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 10px;
    filter: brightness(0.7);
    overflow: hidden;
    transition:0.3s ease-in-out;
}


#slider:hover {
    filter: brightness(1);
}

#precedent, #suivant {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.802);
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#slider:hover #precedent ,
#slider:hover #suivant  {
    opacity: 1;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

.div-titre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    color: white;
    width: 350px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.594);
}

.titre-categorie {
    display: flex;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.text {
    font-size: 1.5em;
}

/* div plat */
.div-plat {
    text-align: center;
}

.titre-plat {
    text-align: center;
    color: white;
    font-size: 3.5em;
    margin: 25px 0;
    font-family: 'Dancing Script', cursive;

}

.div-plat-img::-webkit-scrollbar {
    display: none;
}
.div-plat-img {
    display: flex;
    overflow-x: scroll;
    gap: 25px;
    margin: 25px ;
}

.img-plat {
    width: 400px;
    filter: brightness(0.7);
    transition: .3s ease-in-out;
}

.img-plat:hover {
    filter: brightness(1);
}²

/* footer */
.separateur-footer {
    border: black;
}

footer {
    background-color: rgba(175, 143, 102, 0.694);
    bottom: 0;
}

/* DIV FOOTER */
.div-footer {
    display: flex;
    justify-content: space-evenly;
}
/* CATEGORIE BLOCK */
.categorie-block {
    padding: 15px;
}

.footer-title {
    color: white;
    text-decoration: underline;
    font-size: 2em;
}

.categorie-liste {
    list-style-type: disc;
    color: white;
}

.categorie-li {
    line-height: 20px;
    text-decoration: none;
    color: white;
}

.info-footer {
    color: white;
}

.social-block {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-logo{
    width: 40px;
}

.cart-svg {
    width: 25px;
    color: white;
}

.titre-maps {
    text-align: center;
    font-size: 3.4em;
    font-family: 'Dancing Script', cursive;
    color: white;
}
.div-maps {
    display: flex;
    justify-content: center;
    background-color: rgba(175, 143, 102, 0.694);
    margin: 25px 0;
}
.maps {
    width: 100%;
    margin: 25px;
    border-radius: 25px ;
}

@media screen and (max-width: 900px) { /* RESOLUTION TABLETTE */
    /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
    
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .hamburger {
        display: flex;
        align-items: center;
    }

    .hamburger .active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger .active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger .active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        display: none;
        right: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        transition: top ease .2s ;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        display: flex;
        right: 0;
        width: 100%;
        background-color: rgba(93, 93, 93, 0.583);
        padding: 10px 70px;
        border: 4px solid burlywood;
        margin: 0;
    }

    .parallax {
        display: none;
    }

    #searchBar {
        display: none;
    }

    .img-responsive {
        display: block;
        width: 100%;
    }

    .div-presentation {
        padding: 30px;
        margin: 30px;
    }

    .div-text {
        padding: 30px;
        margin: 30px;
    }

    footer {
        bottom: 0;
    }

    .div-footer {
        display: flex;
        flex-direction: column;
    }

}


/* PAGE PLATS */

.div-block {
    display: flex;
}

/* PAGE PANIER */

.div-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-titre-panier {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: underline;
    margin: 25px;
}

.titre-panier {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}

.div-panier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(175, 143, 102, 0.694);
    color: white;
    margin: 25px 50px;
    padding: 25px 50px;
    gap: 50px;
}

.btn-reset {
    border: none;
    background-color: black;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}


/* PAGE CONTACT */

.contact-titre {
    text-align: center;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    color: white;
    text-decoration: underline;
}
.div-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* PRENOM */

.div-prenom {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.label-prenom {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

input {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    width: 35vw;
}

/* NOM */
.div-nom-prenom {
    display: flex;
}

.div-nom {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.label-nom {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

/* EMAIL */
.div-email-num {
    display: flex;
}
.div-email {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.label-email {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

/* NUMERO DE TEL */

.div-num {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.label-num {
    color: white;
    text-align: center;
    font-size: 1.5em;
    flex-wrap: wrap;
}

/* MESSAGE TEXTAREA */

.div-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-message {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

#message {
    width: 71vw;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.div-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

#btnSubmit {
    width: 10%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: ease-in-out .2s;
}

#btnSubmit:hover  {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.373);
}

/* PAGE FORMULAIRE ENVOYER */

.div-body-contact {
    display: grid;
    margin: 50px;
    gap: 25px;
    align-content: center;
    justify-content: center;
    justify-items: center;
}


.text-form {
    text-align: center;
    /* font-family: 'Dancing Script', cursive; */
    color: white;
    font-size: 2em;
    gap: 50px;
}

.div-contact {
    padding: 25px;
    background-color: burlywood;
    font-size: 1.5em;
}

.fiche-contact {
    color: white;
    font-family: 'Dancing Script', cursive;
}

.coor-titre {
    font-weight: 700;
    color: white;
}

.info-coor {
    color: white;
}



/* PAGE CONNEXION */

.div-form-connexion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.connexion {
    display: flex;
    flex-direction: column;
}

/* PAGE INSCRIPTION */

.login-form {
    display: flex;
    justify-content: center;
}

/* h2 */
.text-center {
    color: white;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.form-group {
    display: flex;
    margin: 15px;
}

.btn-inscription {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: ease-in-out .2s;
    margin-top: 10px;
    color: black;
}

.btn-inscription:hover  {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.373);
}


/* PAGE PRE INDEX.PHP */

.message-erreur {
    display: flex;
    text-align: center;
    justify-content: center;
    color: red;
}

.form-group {
    display: flex;
}


/* PAGE LANDING(PROFIL) */

.body-profil {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

.profil {
    display: flex;
    justify-content: center;
}

.phrase-co {
    color: white;
    font-size: 2em;
    text-align: center;
}

.nav-co {
    margin:50px;
}

.ul-co {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    list-style-type: none;
}

.link-co {
    background-color: coral;
    padding: 10px;
    text-decoration: none;
    color: white;
}